.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.upload-box {
  margin-top: 30px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  background-color: #4b7bec;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background-color: #3867d6;
}

.result-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #f1f2f6;
  display: inline-block;
  border-radius: 8px;
}

.error {
  color: red;
  margin-top: 10px;
}
